<!DOCTYPE html>
<html ng-app="TipCalculator">
    <head>
        <title> Tip Calculator</title>
        
    </head>
    <body>
        <div ng-controller="TipCalculatorController as tcc">
           Price: <input type="text" placeholder="Price" ng-model="tcc.priceValue">
           <br>
           State: <select ng-model="tcc.selected_state" 
                    ng-options="state.state_name for state in tcc.state" 
                    ng-change=""></select>
                    <br>
            Tip: <button ng-click="tcc.assign10()">10%</button>
                 <button ng-click="tcc.assign15()">15%</button>
                 <button ng-click="tcc.assign20()">20%</button>
                 <br>
                 <button ng-click="tcc.calculate()">GO!</button>
            <hr>
            <br>
            Subtotal: <span ng-bind="tcc.priceValue"></span>
            <br>
            State: <span ng-bind="tcc.selected_state.state_name"></span>
            <br>
            Tip Percent: <span ng-bind="tcc.holdTip"></span>
            <hr>
            Total: $<span ng-bind="tcc.totalAmount"></span>
            
            
        </div>



    <script src="angular.min.js"></script>
    <script src="App.js"></script>
    </body>
</html>